# Data Science Tools and Ecosystem

In this notebook, you will find Data Science Tools and Ecosystem summarized.

**Objectives:**
* Commonly used languages
* Commonly used libraries
* Data Science tools
* Arithmetic

4 of the most commonly used languages by Data Scientists are:
1. Python
2. R
3. SQL
4. Julia

4 of the most commonly used libraries by Data Scientists are:
1. NumPy
2. Pandas
3. Matplotlib
4. PyTorch

| Data Science Tools |
| ---------------- |
| Apache Airflow |
| MYSQL |
| KubeFlow |

### Below you can find examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This is a simple arithmetic expression to convert 200 minutes into hours by dividing by 60 and rounding to 2 decimal places
round(200/60,2)

3.33

## Author
Stanley Vickery